@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
   
}

body{
    background-color: #eeeff0;
}
.sidebar{
    background-color: white;
    max-width: 226px;
    height: 100%;
    overflow-y: auto;
    
    scroll-behavior: smooth;
    /* position: sticky; */
    /* height: 100vh; */
    border-radius: 10px;
    display: inline-block;
    float: left;
    
    
}
::-webkit-scrollbar {
    width: 0px;
  }
.sidebar_links{
    padding: 8.5px;
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
    text-align: start;
    
}
.siderbar_heading{
    margin-top: 12px;
    margin-left: 12px;
}
.dash{
    font-weight: 600;
    display: inline;
    margin-left: 12px;
    font-weight: 600;
font-size: 18px;
line-height: 22px;
color: #424344;
  
}

/* .siderbar_heading>img{
    margin-left: 50px;
    
} */
.dash_front_logo{
    margin-top: 3px;
    margin-bottom: 0px;
}
.heading_icon{
    display: inline-block;
    margin-left: 50px;
}
.heading_icon>img{
    margin-left: 10px;
}
a{
    text-decoration: none;
    color: #707070;
    font-weight: 400;
    font-size: 15px;
    margin-left: 1rem;
    
    
}
a>img{
    margin-right:12px;
}
.linksContainer{
    /* border-style: solid; */
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 16px;
}
a:hover{
    color: white;
}
.sidebar_links:hover{
    background-color: #5263D6;
    border-radius: 8px;
    color: white;
    
}
.bottomSidebar{
margin-left: 12px;
margin-right: 12px;
margin-top: 162px;
}

/* main 1 */
.mainContent{
display: inline-block;
margin-left: 39px;
margin-right: 40px;
width: calc(100% - 320px);
overflow-y: auto;
height: 100%;
/* width: 100vh; */
}
.main1{
    display: inline-block;
    margin-top: 33px;
    width: 100%;
    /* margin-left: 39px; */
  
}
.hey_lily{
display: inline-block;

}
.hey_lily > h1 {
    /* display: inline; */
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;

    /* Grey/Dark */

    color: #424344;
  }
  .hey_lily > h4 {
    margin-top: 14px;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;

    /* Grey/Light */

    color: #707070;
  }
.search_bar{
display: inline-block;
float: right;
margin-left: 110%;
margin-bottom: 0px;
margin-top: -41px;
}
.search_bar>.input-with-button>input{
    font-weight: 400;
font-size: 15px;
line-height: 18px;

/* Grey/Dark */

color: #424344;
    border: none;
        padding: 8px;
        height: 42px;
        width: 183px;
        border-radius: 8px;
        background: #e3e6fe;
}
.input-with-button {
    position: relative;
    display: inline-block;
  }
  
  .input-with-button input[type="text"] {
    padding-right: 50px; /* adjust this value based on the button size */
  }
  
  .input-with-button button {
    background: #E3E6FE;
    font-weight: 400;
font-size: 15px;
line-height: 18px;

/* Grey/Light */

color: #707070;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 4px;
border: none;
margin-top: 8px;
margin-right: 10px;
padding: 4px;
    position: absolute;
    top: 0;
    right: 0;
  }

.quick_actions{
background-color: white;
margin-top: 36px;
border-radius: 8px;
width: auto;


height: fit-content;
padding: 16px;

}

  .quick_actions > h2 {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    

    color: #424344;
  }
  .quick_actions > .actions > button {
    border: none;
    color: #112DEA;
    font-weight: 400;
    font-size: 15px;
    height: 35px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8.5px;
    padding-bottom: 8.5px;
    border-radius: 5px;
    margin-top: 0px;
    margin-right: 12px;
  }
.actions{
margin-top: 15px;
}
.main2{
margin-top: 22px;
}
.textL2>h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #424344;

}
.boxes{
margin-top: 14px;
}
.box{
padding: 16px;
display: inline-block;
margin-right: 22px;
width: 28%;
max-width: 271.67px;
height: 130px;

background: #FFFFFF;
border-radius: 10px;

}
.box_big_text>h2{
    display: inline-block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    
    /* identical to box height */
    margin-left: 15.85px;
    
    /* Grey/Dark */
    
    color: #424344;
}
.box_big_text>img{
    width: auto;
}
.box_small_text{
    margin-top: 8px;
}
.box_small_text>p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    
    
    color: #707070;
}
.box_users{
margin-top: 28px;
}
.user_img{
    z-index: 0;
}
.user_img1{
    z-index: 1;
    margin-left: -12px;
}
.user_img2{
    z-index: 2;
    margin-left: -12px;
}
.user_img3{
    z-index: 3;
    margin-left: -12px;
}
.user_img4{
    z-index: 4;
    margin-left: -12px;
}
.user_img5{
    z-index: 5;
    margin-left: -12px;
}
/* main3 */
.main3{
    background-color: white;
    padding: 16px;
     margin-top: 32px;
     border-radius: 10px;
}
.main3>h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    
    
    /* Grey/Dark */
    
    color: #424344;
}
.members{
    padding: 8px;

}
.member{
margin-right: 12px;
max-width: 97px;
display: inline-block;

}
.member_img{
padding-left: 12px;
display: inline-block;


}
/* .online{
    width: 15px;
    height: 15px;
    border-radius:10px ;
    background-color:  #44B949;
    display: inline-block;
    position: fixed;
    
    top: 550px;
    left: 464px;
    

} */
.member_circle{
    background: #E4E4E4;
    width: 70px;
    height: 70px;
    z-index: 0;
    border-radius: 70px;
    margin-left: 12px;
}
.member_add_logo{
    margin-left: 30px;
    margin-top: 30px;
    z-index: 2;

}
.member_name{
text-align: center;
margin-top: 8px;
}
.member_name>h3{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
/* identical to box height */

text-align: center;

/* Grey/Light */

color: #707070;

}
.member_name>p{
    margin-top: 8px;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */

text-align: center;

/* Grey/Light */

color: #707070;
}
/* main 4 */
.main4{
margin-top: 19px;
margin-bottom: 43px;
}
.textL2{
    display: block;
}
.textL2>h2{
    display: inline-block;
}
.textL2>p{
    display: inline-block;
    margin-left: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    
    
    /* Grey/Light */
    
    color: #707070;
}
.textL2>img{
margin-right: 8px;
}
.tasks{
margin-top: 18px;
}
.task{
    margin-top: 6px;
background-color: white;
padding-top: 12px;
padding-bottom: 12px;
padding-left: 8px;
border-radius: 10px;
height: auto;
}
.task>h3{
    display: inline-block;
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;

/* Grey/Dark */

color: #424344;
}
.task_id{
display: inline-block;
background: #E3E6FE;
border-radius: 4px;
padding-left: 6px;
padding-right: 8px;
margin-right: 8px;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */


/* Grey/Dark */

color: #424344;

}
.task_functions{
/* display: inline-block; */
float: right;
}
.task_functions>img{
    margin-right: 10px;
}
.function{
display: inline-block;
background: #E7DEFA;
border-radius: 4px;
padding: 2px 4px;
margin-right: 8px;

}
.three_dots{
display: inline-block;
margin-right: 18px;
margin-left: 8px;
}